{% extends "layout.html" %}


{% block content %}
	<form method="POST" novalidate>
		{{form.hidden_tag()}}

		<div class="form-group">
   	  		{{form.customer.label()}}
   	  		{{form.customer(placeholder='Name of vehicle owner')}}


   	  		{% if form.customer.errors %}

			    {% for error in form.customer.errors %}
			      <p class="text-danger">{{ error }}</p>
			    {% endfor %}

			{% endif %}
   	  	</div>

   	  	<div class="form-group">
   	  		{{form.dealer.label()}}
   	  		{{form.dealer()}}


   	  		{% if form.dealer.errors %}

			    {% for error in form.dealer.errors %}
			      <p class="text-danger">{{ error }}</p>
			    {% endfor %}

			{% endif %}
   	  	</div>

   	  	<div class="form-group">


			{% for subfield in form.rating %}
				{{ subfield }}
				{{ subfield.label }}

			{% endfor %}

			{% if form.rating.errors %}
					<p class="text-danger">{{ form.rating.errors[0] }}</p>
			{% endif %}
   	  	</div>

   	  	<div class="form-group">
   	  		{{form.comments.label()}}
   	  		{{form.comments()}}


   	  		{% if form.comments.errors %}

			    {% for error in form.comments.errors %}
			      <p class="text-danger">{{ error }}</p>
			    {% endfor %}

			{% endif %}
   	  	</div>
   	  	<div class="form-group">

   	  		{{form.submit(class='btn')}}
   	  	</div>
	</form>
{% endblock content %}
